$theme : (
  primary: rgba(68, 147, 252, 1),
  textprimary: rgb(252, 252, 252),
  secondary: rgb(215, 43, 131),
  textsecondary: rgb(255, 255, 255)
);

@mixin bg($color) {
  background-color: map-get($theme, $color);
}

@mixin color($color) {
  color: map-get($theme, $color);
}

@mixin theme($prop, $color) {
  #{$prop}: map-get($theme, $color);
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}
